{% extends 'base.html' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="card mt-4">
                <h4 class="card-header">Preferred Curency</h4>
                <div class="card-body">
                    <form action="." method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <select class="form-select" name="currency" id="id_currency">
                            {% if preferences %}
                                <option selecte value="{{preferences.currency}}">{{ preferences.currency }}</option>
                            {% else %}
                                <option selected>Choose...</option>
                            {% endif %}

                                {% for currency in currencies %}
                                    <option value="{{ currency.value }}">{{ currency.name }} - {{ currency.value }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-outline-primary" type="button">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}