{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card shadow mt-4">
                <div class="card-body text-center">
                    <form action="." method="POST">
                        {% csrf_token %}
                            {{form}}

                            <h5 class="text-secondary">Are you sure to delete <span class="text-dark">"{{ object }}"</span> ?</h5>

                        <div class="d-flex justify-content-center mt-4">
                            <div class="">
                                <button onclick="goBack()" type="button" class="btn btn-secondary goBack">Cancel</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}


{% block extra_scripts %}
<script>
function goBack() {
    window.history.back();
}
</script>
{% endblock extra_scripts %}