{% extends './auth_base.html' %}
{% load static %}

{% block body %}

<div class="card border-0">
    <div class="card-header border-bottom-0 text-center">
        <h4>Set new password</h4>
    </div>
    
    <div class="card-body">
        <form autocomplete="off" action="{% url 'auth:set-password' uidb64 token %}" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label for="id_password" class="form-label">Password</label>
                <input 
                    type="password" 
                    class="form-control" 
                    name="password" 
                    id="id_password" 
                    autocomplete="off"
                >
                <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
                <label for="id_password2" class="form-label">Confirm Password</label>
                <input 
                    type="password" 
                    class="form-control" 
                    name="password2" 
                    id="id_password2" 
                    autocomplete="off"
                >
                <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="showPassToggle">
                <label class="form-check-label" for="showPassToggle">
                    Show Password
                </label>
            </div>
            <div class="d-grid">
                <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

</div>

{% endblock body %}


{% block extra_script %}

<script src="{% static 'js/auth.js' %}"></script>

{% endblock extra_script %}
